.sr-pagger{


  &__button{
    width: 62px;
  }

  &__previous{
    padding-right: 16px;
  }

  &__next{

      padding-left: 16px;
  }

  &__dot{
    height: 8px;
    width: 8px;
  }

  &__visible{
    visibility: hidden;
  }

}