$main-blue-color: #005DFF;
$secondary-blue-color: #06E0FF;

$main-green-color: #02EC98;
$secondary-green-color: #02cc83;

$main-gray-color: #C6C6C6;

$main-dark-blue-color: #00346C;
$secondary-dark-blue-color: #00244b;

$main-accent-color: #FC3DBF;
$secondary-accent-color: #A11D77;

$main-black: #3A393A;
