.sr-local {

  &__background{
           background-color: $main-blue-color;
  }


&__local_container{
  bottom: 0px;
}

&__max{
  max-width: 288px;
}


 &__background_map {
    // background: url('/images/map.png');
    // background-size:100%;
    // background-repeat: no-repeat;
    position: relative;
    //height: 65vw;
    > img {
      position: absolute;
      width: 100%;
      height: auto;
    }
  }
  @media (min-width: 992px) {
    &__background_map {
      min-height: 581px;
    }
  }
}
