.logout-modal {
  position: relative;

  ul {
    position: absolute;
    background: #fff;
    display: block;
    list-style: none;
    padding: 10px 0;
    text-align: center;
    width: 160px;

    li {
      a {

      }
    }
  }
}
