.sr-payment {

    &__image{
        margin-bottom: 32px;
        margin-top: 32px;
    }

    &__total{
      &__container{
        border: 1px solid darkgray;
        padding: 18px;
        margin-bottom: 28px;
      }

      &__product{
        font-size: 18px;
      }

      &__total{
        font-size: 22px;
      }

      &__separator{
        height: 1px;
        background: darkgray;
        margin-right: 24px;
        margin-left: 24px;
        margin-top: 18px;
        margin-bottom: 18px;
      }
    }

    &__credit-card{
      &__input{
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid darkgray;
      }

      &__picker{
        border: 0;
        outline: 0;
        background: transparent;
        text-align: right;
      }

      &__hint{
        color: #636C72;
        text-align: left;
        padding-left: 26px;
      }
    }


}


.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}