.sr-question {


  &__box{
    margin-top: -48px;
    margin-bottom: -24px;
    // max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and ( max-width: 580px ){
    &__box{
      margin-top: -48px;
      margin-bottom: -24px;
      // max-width: 560px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }



  &__container{
    background: white;
    // padding: 16px;
    text-align: center;
    // max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and ( max-width: 580px ){
    &__container{
      background: white;
      // padding: 16px;
      text-align: center;
      max-width: 560px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }


        &__text{
            &__title{
                color: $main-blue-color;
                font-size: 18px;

                &__box{
                  padding-top: 24px;
                }
            }

            &__question{
                color: black;
                font-size: 32px;
            }
    }

    &__label{
         display: inline-block;
    }

    &__button{
        width: 144px;
        height: 44px;
        border-radius: 22px;
        font-size: 26px;
        background-color: white;
        color: $main-blue-color;
        border: 2px solid $main-blue-color;
        margin-bottom: 20px;
    }

    &__loading{
      max-width: 88px;
      margin: 50px auto;
    }

    &__loading_container{
      margin-top: 24px;
      margin-bottom: 24px;
    }

}


.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.cross-fade-height {
  transition: height .5s ease-in-out;
}


.fade-wait-leave {
  opacity: 1;
}
.fade-wait-leave.fade-wait-leave-active {
  opacity: 0;
  transition: opacity .4s ease-in;
}

.fade-wait-enter {
  opacity: 0;
}
.fade-wait-enter.fade-wait-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity .4s ease-in .6s;
}

.fade-wait-height {
  transition: height .6s ease-in-out;
}
.question-bg {
  margin: 30px 0 20px;
}
