.social-icon {
  background-color: $main-green-color;
  width: 44px;
  height: 44px;
  color: #fff;
  border-radius: 40px;
  font-size: 24px;
  text-align: center;
  padding-top: 4px;
  margin-left: 10px;
}
