.sr-password {
  padding: 60px 35px;
  background-color: $main-blue-color;
  background-image: image-url('bg-logo.png');
  background-size: 80%;
  background-repeat: no-repeat;

  &__input {
    background: #FFFFFF;
    height: 55px;
    color: #ADADAD;
    font-size: 21px;
  }

  &__error {
    color: #FFF;
    text-align: center;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .sr-password {
    padding: 272px 0;
    background-size: 60%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
